html {
  font-family: sans-serif;
  line-height: 1.15;

  /* Font sizes */
  --baseFontSize: 0.8rem;
  --pageHeadingFontSize: 1.2rem;

  /* Colors */
  --warmLightGray: #f3eeee;
  --extraDarkGray: #111;

  /* Shadows */
  --paperShadow: 1px 1px 5px rgba(10, 0, 0, 0.05);

  /* Corners */
  --slightlyRounded: 2px;
}

body {
  background: #f3eeee;
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template,
[hidden] {
  display: none;
}
